<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sports.Dao.UserDao">
    <resultMap type="com.sports.pojo.User" id="resultUser">
        <id column="user_basic_id" property="user_id" />
        <result column="user_name"  property="user_name"/>
        <result column="user_age"  property="user_age"/>
        <result column="user_password"  property="user_password"/>
        <result column="user_email"  property="user_email"/>
        <result column="user_sex"  property="user_sex"/>
        <result column="user_imageURL"  property="user_imageURL"/>
        <result column="user_authority"  property="user_authority"/>

    </resultMap>


    <insert id="addUser" parameterType="com.sports.pojo.User" useGeneratedKeys="true" keyProperty="id">
        insert into user_basic (user_name,user_age,user_password,user_email,user_sex,user_imageURL,user_authority) VALUES (#{name},#{age},#{password},#{email},#{sex},#{imageURL},#{authority})
    </insert>

    <select id="getUserByPwd" parameterType="map" resultMap="resultUser"
            resultType="com.sports.pojo.User">
        select * from user_basic where User_name=#{userName} and User_password=#{userPassword}
    </select>

    <select id="getUserById" parameterType="int"
            resultMap="resultUser"
            resultType="com.sports.pojo.User">
        select * from user_basic where User_basic_id=#{id}
    </select>
</mapper>